<!DOCTYPE html>
<html>
<head>
  <title>TflCameras</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBkMPpIDD_YxGhlvWAYP-fvVR-aIqfZOSo&sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
